h1{
    padding: 2px;
    margin: 2px;
}
p{
    padding: 2px;
    margin: 2px;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.date_of_birth{
color: rgb(3, 129, 3);
}
.championship{
    color: rgb(252, 4, 4);
    font-weight: 600;
    
}
.all_info{
    font-style:italic;
    color:rgb(104, 70, 184)
}
