@import url(../css/reset.css);
.widht_top, .font_size, .font_size_span, .span_arrow {
  font-size: 26px;
  font-family: "Playfair Display SC";
  color: #fffb00;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; }

body {
  background-color: #e9509d;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  background: url(../img/vostok.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around; }

section {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit; }

.widht_top {
  height: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: center; }

p {
  margin: auto;
  padding: 0px;
  text-align: center; }

.widht_center {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.img {
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.font_size {
  padding: 0;
  font-size: 260px;
  text-align: center; }

.font_size_span {
  font-size: 52px; }

.span_arrow {
  font-size: 24px; }

@media all and (max-width: 600px) {
  section {
    width: 100%;
    height: 100%; } }
