.body_website {
  background-color: rgb(10, 14, 46);
}
.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo logo"
    "links content"
    "footer footer";
}

h1 {
  padding: 15px;
  line-height: 100%;
}
h2 {
  padding: 0px;
  line-height: 100%;
  background-color: rgb(5, 13, 70);
}
#toggle {
  opacity: 0;
}
a {
  color: blanchedalmond;
  text-decoration: none;
  font-family: Pattaya;
}
.heading1level {
  padding: 10px;
  text-align: center;
  font-family: Lobster;
  font-size: 75px;
  color: aliceblue;
  grid-area: logo;
}

.heading2level {
  text-align: center;
  font-size: 26px;
  font-family: Lobster;
  color: aliceblue;
  grid-area: content;
}
.image_coffee {
  float: left;
}

.link_section {
  grid-area: links;
  background-color: rgba(23, 219, 253, 0.521);
}
.list_of_links {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li::before {
  content: url("../img/spis.png");
}
.content {
  background-color: rgb(10, 14, 46);
  font-size: 18px;
  font-family: Pattaya;
  color: blanchedalmond;
  text-align: justify;
  padding: 0 25px;
}
.width_footer {
  grid-area: footer;
  background-color: rgb(205, 175, 211);
  padding: 25px;
}
