.body {
  background-color: rgb(10, 14, 46);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding: 15px;
  line-height: 100%;
}
h2 {
  margin: 0px;
  line-height: 100%;
  background-color: rgb(5, 13, 70);
}
#toggle {
  opacity: 0;
}
a {
  color: blanchedalmond;
  text-decoration: none;
  font-family: Pattaya;
}
.heading_font {
  text-align: center;
  font-family: Lobster;
  font-size: 75px;
  color: aliceblue;
  width: 100%;
}

.content_font {
  text-align: center;
  font-size: 26px;
  font-family: Lobster;
  color: aliceblue;
  width: calc(100% - 300px);
}
.image_coffee {
  float: left;
  margin: 0 auto;
}
.stretch {
  width: 100%;
  height: 100%;
}

.link_section {
  width: 300px;
  background-color: chartreuse;
}
.list_of_links {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li::before {
  padding: 5px;
  content: url("../img/spis.png");
}
.content {
  padding: 5px;
  background-color: rgb(10, 14, 46);
  font-size: 18px;
  font-family: Pattaya;
  color: blanchedalmond;
  text-align: justify;
}
.width_footer {
  width: 100%;
  background-color: rgb(210, 0, 252);
}
