.heading_font {
  color: rgb(70, 255, 24);
  order: 1;
}

.content_font {
  width: 100%;
}

.image_coffee {
  float: none;
  width: 100%;
}

.order_hed {
  order: 2;
}
.link_section {
  width: 100%;
  padding: 0px;
  background: rgb(10, 14, 46);
  order: 3;
}
.link_section {
  width: 100%;
  list-style-image: url("../img/spis.png");
  background-color: chartreuse;
}

li {
  display: inline;
  padding: 15px;
}

.width_footer {
  order: 4;
}
