a:hover {
  color: rgb(255, 0, 0);
}
a:nth-child(-n + 4)::after {
  content: url("../image/right.png");
}

.menu {
  background-color: #ccf7cc;
}

.menu__item {
  font-style: italic;
  font-size: 20px;
}
.menu__item-selected {
  font-style: italic;
  font-size: 20px;
}
.menu__item-importance-high {
  font-style: italic;
  font-size: 20px;
}
.menu__item-importance-low {
  font-style: italic;
  font-size: 20px;
}

.link {
  background-color: #d0ffd0;
}
.link a {
  font-style: italic;
  font-size: 20px;
}

.links {
  background-color: #d0ffd0;
}
.links a {
  font-style: italic;
  font-size: 20px;
}

.spisok {
  font-style: italic;
  font-size: 20px;
  background-color: #ccf7cc;
}
.spisok ul {
  padding: 0px;
  margin: 0px;
}
.spisok li {
  list-style: none;
  display: inline;
  padding: 0px;
}
