body {
  background-color: rgb(10, 14, 46);
}

h1,
h2 {
  margin: 0px;
  line-height: 100%;
}

a {
  color: blanchedalmond;
  text-decoration: none;
  font-family: Pattaya;
}
@media all  and (min-width: 1200px) {
  .heading1level {
    text-align: center;
    margin: 0px;
    padding: 15px;
    font-family: Lobster;
    font-size: 48px;
    color: aliceblue;
  }

  .heading2level {
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }

  .image_coffee {
    float: left;
    width: 300px;
    height: 500px;
  }

  .link_section {
    width: 200px;
    float: left;
    list-style: none;
    display: block;
    background: rgb(10, 14, 46);
  }

  .list_of_links {
    list-style-image: url("image/spis.png");
    margin: 15px;
  }

  .notclear {
    clear: both;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }
  .content {
    margin-left: 210px;
    /*margin-right: 200px;*/
    background-color: rgb(10, 14, 46);
    font-size: 18px;
    font-family: Pattaya;
    color: blanchedalmond;
  }
}
@media all and (max-width: 800px) {
  .heading1level {
    text-align: center;
    margin: 0px;
    padding: 15px;
    font-family: Lobster;
    font-size: 48px;
    color: rgb(251, 255, 23);
  }

  .heading2level {
    width: 100%;
    float: right;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }

  .image_coffee {
    width: 100%;
    height: 100%;
  }

  .link_section {
    width: 100%;
    padding: 0px;

    background: rgb(10, 14, 46);
  }
  .link_section li {
    width: 250px;
    list-style: none;
    display: inline;
    padding: 15px;
  }
  li::before {
    content: url("image/spis.png");
  }

  .list_of_links {
    margin: 0px;
    padding: 0px;
  }

  .notclear {
    clear: both;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }
  .content {
    margin-left: 10px;
    background-color: rgb(10, 14, 46);
    font-size: 18px;
    font-family: Pattaya;
    color: blanchedalmond;
  }
}
@media all and (max-width: 1200px) and (min-width: 800px) {
  .heading1level {
    text-align: center;
    margin: 0px;
    padding: 15px;
    font-family: Lobster;
    font-size: 48px;
    color: rgb(70, 255, 24);
  }

  .heading2level {
    width: 100%;
    float: right;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }

  .image_coffee {
    float: left;
    width: 180px;
    height: 250px;
  }

  .link_section {
    width: 100%;
    padding: 0px;

    background: rgb(10, 14, 46);
  }
  .link_section li {
    width: 250px;
    list-style: none;
    display: inline;
    padding: 15px;
  }
  li::before {
    content: url("image/spis.png");
  }

  .list_of_links {
    margin: 0px;
    padding: 0px;
  }

  .notclear {
    clear: both;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }
  .content {
    margin-left: 10px;
    background-color: rgb(10, 14, 46);
    font-size: 18px;
    font-family: Pattaya;
    color: blanchedalmond;
  }
}
