.for_bottom {
    display: flex;
    align-items: center;
    position: fixed;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
  }
  .for_bottom > span,
  .for_bottom > span::before,
  .for_bottom > span::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ff3737;
  }
  .for_bottom > span::before {
    content: "";
    top: -8px;
  }
  .for_bottom > span::after {
    content: "";
    top: 8px;
  }
  .list_of_links {
    display: block;
    position: absolute;
    visibility: hidden;
    left: -100%;
    width: 300px;
    height: 750px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    overflow: scroll;
    background-color: #37c060;
  }
  .my_link {
    display: block;
    padding: 12px 24px;
    color: #fbff11;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .my_link:hover {
    background-color: #359bc7;
  }
  #toggle:checked ~ .for_bottom > span {
    transform: rotate(45deg);
  }
  #toggle:checked ~ .for_bottom > span::before {
    top: 0;
    transform: rotate(0);
  }
  #toggle:checked ~ .for_bottom > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #toggle:checked ~ .list_of_links {
    visibility: visible;
    left: 0;
  }
  
  .heading1level {
    text-align: center;
    margin: 0px;
    padding: 15px;
    font-family: Lobster;
    font-size: 48px;
    color: rgb(251, 255, 23);
  }
  
  .heading2level {
    width: 100%;
    float: right;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }
  
  .image_coffee {
    display:none;

  }
  
  .link_section {
    width: 100%;
    padding: 0px;
  
    background: rgb(10, 14, 46);
  }
  .link_section li {
    width: 250px;
    list-style: none;
    display: inline;
    padding: 15px;
  }
  li::before {
    content: url("image/spis.png");
  }
  
  .list_of_links {
    margin: 0px;
    padding: 0px;
  }
  
  .notclear {
    clear: both;
    text-align: center;
    background-color: rgb(5, 13, 70);
    font-size: 26px;
    font-family: Lobster;
    color: aliceblue;
  }
  .content {
    margin-left: 10px;
    background-color: rgb(10, 14, 46);
    font-size: 18px;
    font-family: Pattaya;
    color: blanchedalmond;
  }
  